{%extends 'base.html' %}
{% load static %}
{% block content %}
<section class="banner" style="background-color: #fff8e5; background-image:url('{% static 'assets/img/banner.png' %}')">
    <div class="container">
        <div class="row hero-one-slider owl-carousel owl-theme">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="hero-text">
                            <h1>Take a Good Care of Pets</h1>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="hero-img">
                            <img src="{% static 'assets/img/hero-img-1.png' %}" alt="img">
                            <img src="{% static 'assets/img/hero-shaps.png' %}" alt="hero-shaps" class="img-1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="hero-text">
                            <h1>Healthy Pets, Happy People</h1>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="hero-img">
                            <img src="{% static 'assets/img/slide-3.png' %}" alt="img">
                            <img src="{% static 'assets/img/hero-shaps.png' %}" alt="hero-shaps" class="img-1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="hero-text">
                            <h1>Take a Good Care of Pets</h1>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="hero-img">
                            <img src="{% static 'assets/img/slide-2.png' %}" alt="img">
                            <img src="{% static 'assets/img/hero-shaps.png' %}" alt="hero-shaps" class="img-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="{% static 'assets/img/hero-shaps-1.png' %}" alt="hero-shaps" class="img-2">
    <img src="{% static 'assets/img/dabal-foot-1.png' %}" alt="hero-shaps" class="img-3">
    <img src="{% static 'assets/img/hero-shaps-1.png' %}" alt="hero-shaps" class="img-4">
</section> 

<section class="gap no-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="welcome-to">
                    <h2>Welcome to The Pet Care Company</h2>
                    <p>It is important to know that the pain is important, and the coaching elit will be successful.</p>
                    <div class="row mt-lg-5">
                        <div class="col-md-6">
                            <div class="pet-grooming">
                            <i><img src="{% static 'assets/img/welcome-to-1.png' %}" alt="icon"></i>
                            <svg width="138" height="138" viewBox="0 0 673 673" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.82698 416.603C-19.0352 298.701 18.5108 173.372 107.497 90.7633L110.607 96.5197C24.3117 177.199 -12.311 298.935 15.0502 413.781L9.82698 416.603ZM89.893 565.433C172.674 654.828 298.511 692.463 416.766 663.224L414.077 658.245C298.613 686.363 175.954 649.666 94.9055 562.725L89.893 565.433ZM656.842 259.141C685.039 374.21 648.825 496.492 562.625 577.656L565.413 582.817C654.501 499.935 691.9 374.187 662.536 256.065L656.842 259.141ZM581.945 107.518C499.236 18.8371 373.997 -18.4724 256.228 10.5134L259.436 16.4515C373.888 -10.991 495.248 25.1518 576.04 110.708L581.945 107.518Z" fill="#940c69"/>
                            </svg>
                            <a href="index.html#"><h4>Pet Grooming</h4></a>
                            <p>Even if your dog doesn't look particularly scruffy, grooming provides many health benefits for them which may not be immediately obvious. Brushing your dog ventilates their coat, helping it grow healthy and strong and takes away old and damaged hair.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="pet-grooming mb-0">
                            <i><img src="{% static 'assets/img/welcome-to-2.png' %}" alt="icon"></i>
                            <svg width="138" height="138" viewBox="0 0 673 673" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.82698 416.603C-19.0352 298.701 18.5108 173.372 107.497 90.7633L110.607 96.5197C24.3117 177.199 -12.311 298.935 15.0502 413.781L9.82698 416.603ZM89.893 565.433C172.674 654.828 298.511 692.463 416.766 663.224L414.077 658.245C298.613 686.363 175.954 649.666 94.9055 562.725L89.893 565.433ZM656.842 259.141C685.039 374.21 648.825 496.492 562.625 577.656L565.413 582.817C654.501 499.935 691.9 374.187 662.536 256.065L656.842 259.141ZM581.945 107.518C499.236 18.8371 373.997 -18.4724 256.228 10.5134L259.436 16.4515C373.888 -10.991 495.248 25.1518 576.04 110.708L581.945 107.518Z" fill="#940c69"/>
                            </svg>
                            <a href="index.html#"><h4>Dog Walking</h4></a>
                            <p>Dog walking is a vital aspect of canine care, providing exercise, mental stimulation, and social interaction for your furry friend. Regular walks help maintain a healthy weight, prevent behavioral issues, and strengthen the bond between you and your dog, contributing to their overall well-being..</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="dog-walker two d-block">
                    <img src="{% static 'assets/img/dog-walker-1.png' %}" class="w-100" alt="dog walker">
                    <img src="{% static 'assets/img/line.png' %}" class="line" alt="line">
                    <img src="{% static 'assets/img/dabal-foot.png' %}" class="dabal-foot" alt="dabal-foot">
                    <img src="{% static 'assets/img/haddi.png' %}" class="haddi" alt="haddi">
                </div>
            </div>
        </div>
    </div>
</section> 
<section class="gap"  style="background-color: #e4deb7;">
    <div class="container">
        <div class="heading">
            <img src="{% static 'assets/img/heading-img.png' %}" alt="heading-img">
            <h6>Find Healthy Product By Category</h6>
            <h2>Browse By Categories</h2>
        </div>
        <div class="row slider-categorie owl-carousel owl-theme">
            <div class="col-lg-12 item">
                <div class="food-categorie">
                    <img src="{% static 'assets/img/food-categorie-1.png' %}" alt="food-categorie">
                    <a href="our-products.html">Cat Supplies</a>
                </div>
            </div>
            <div class="col-lg-12 item">
                <div class="food-categorie">
                    <img src="{% static 'assets/img/food-categorie-2.png' %}" alt="food-categorie">
                    <a href="our-products.html">Dog Supplies</a>
                </div>
            </div>
            <div class="col-lg-12 item">
                <div class="food-categorie">
                    <img src="{% static 'assets/img/food-categorie-3.png' %}" alt="food-categorie">
                    <a href="our-products.html">Animal Feed</a>
                </div>
            </div>
            <div class="col-lg-12 item">
                <div class="food-categorie">
                    <img src="{% static 'assets/img/food-categorie-4.png' %}" alt="food-categorie">
                    <a href="our-products.html">Accessories</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gap section-healthy-product" style="background-image: url('assets/img/healthy-product.png'); background-color: #f5f5f5;">
    <div class="container">
        <div class="heading">
            <img src="{% static 'assets/img/heading-img.png' %}" alt="heading-img">
            <h6>Find Healthy Product</h6>
            <h2>Healthy Products</h2>
        </div>
        <div class="row">
            {% for product in productdata|dictsort:"id"|dictsortreversed:"is_active" %}
                {% if product.is_active %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="healthy-product">
                    <div class="healthy-product-img">
                        <a href="/product/{{product.id}}">
                            <img src="{{ product.image.url }}" alt="food" style="height: 200px; width: 100%;">
                        <ul class="star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <div class="add-to-cart" style="display: flex; justify-content: space-between; align-items: center;">
                            <form action="{% url 'add_to_cart' product.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Add to cart</button>
                            </form>
                            <a href="{% url 'add_to_wishlist' product.id %}" class="heart-wishlist">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <span>{{ product.catogary }}</span>
                    <a href="/product/{{product.id}}">{{ product.name }}</a>
                    <h6>₹{{ product.price }}</h6>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <div class="col-lg-9">
                {% if most_ordered_product %}
                <div class="deal-of-the-week">
                    <div class="healthy-product-img" style="background-color: rgb(133, 128, 100);">
                        <h6>Deal of the Week</h6>
                        <a href="/product/{{most_ordered_product.id}}">
                            <img src="{{ most_ordered_product_image }}" style="height: 200px; width: 100%;">
                        
                        <ul class="star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                    </div>
                    
                    <div class="healthy-product">
                        
                        <span>{{ most_ordered_product_category }}</span>
                        <a href="/product/{{most_ordered_product.id}}">{{ most_ordered_product.name }}</a>
                        <h6><del>$70.00</del>${{ most_ordered_product_price }}</h6>
                        <h5>up to 14% off</h5>
                        <div class="add-to-cart" style="display: flex; justify-content: space-between; align-items: center;">
                            <form action="{% url 'add_to_cart' most_ordered_product.id %}" method="post">
            
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Add to cart</button>
                            </form>
                            <a href="{% url 'add_to_wishlist' most_ordered_product.id %}" class="heart-wishlist">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                        </div>
                        <div id="countdown">
                            <ul>
                              <li><span id="days"></span>days</li>
                              <li><span id="hours"></span>Hour</li>
                              <li><span id="minutes"></span>Min</li>
                              <li class="mb-0"><span id="seconds"></span>Sec</li>
                            </ul>
                           </div>
                          
                    </div>
                    
            
                </div>
                {% endif %} 
            </div>
            
            

        </div>
    </div>
</section> 
<section class="gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="count-text">
                    <img alt="img" src="{% static 'assets/img/fun-facts-1.png' %}">
                   <div>
                   <div class="d-flex justify-content-center">
                        <h2 class="count" data-number="100" ></h2>
                        <span>+</span>
                   </div>
                   <h3 class="text">Client Served</h3>
                   </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="count-text">
                    <img alt="img" src="{% static 'assets/img/fun-facts-2.png' %}">
                   <div>
                   <div class="d-flex justify-content-center">
                        <h2 class="count" data-number="99" ></h2>
                        <span>%</span>
                   </div>
                   <h3 class="text">Client Served</h3>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="count-text mb-sm-0">
                    <img alt="img" src="{% static 'assets/img/fun-facts-3.png' %}">
                   <div>
                   <div class="d-flex justify-content-center">
                        <h2 class="count" data-number="2" ></h2>
                        <span>k</span>
                   </div>
                   <h3 class="text">Client Served</h3>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="count-text mb-0">
                    <img alt="img" src="{% static 'assets/img/fun-facts-4.png' %}">
                   <div>
                   <div class="d-flex justify-content-center">
                        <h2 class="count" data-number="400" ></h2>
                        <span>+</span>
                   </div>
                   <h3 class="text">Client Served</h3>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section> 
<section>
    <div class="container">
        <div class="heading">
            <img src="{% static 'assets/img/heading-img.png' %}" alt="heading-img">
            <h6>Meet Our Experts</h6>
            <h2>Best Working Team</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="team-working">
                    <img src="{% static 'assets/img/team-1.jpg' %}" alt="team">
                    <svg width="188" height="188" viewBox="0 0 673 673" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.82698 416.603C-19.0352 298.701 18.5108 173.372 107.497 90.7633L110.607 96.5197C24.3117 177.199 -12.311 298.935 15.0502 413.781L9.82698 416.603ZM89.893 565.433C172.674 654.828 298.511 692.463 416.766 663.224L414.077 658.245C298.613 686.363 175.954 649.666 94.9055 562.725L89.893 565.433ZM656.842 259.141C685.039 374.21 648.825 496.492 562.625 577.656L565.413 582.817C654.501 499.935 691.9 374.187 662.536 256.065L656.842 259.141ZM581.945 107.518C499.236 18.8371 373.997 -18.4724 256.228 10.5134L259.436 16.4515C373.888 -10.991 495.248 25.1518 576.04 110.708L581.945 107.518Z" fill="#000"/>
                    </svg>
                    <span>Veterinary Assistant</span>
                    <a href="team-details.html"><h4>Gorjona Hiller</h4></a>
                    <ul class="social-icon">
                        <li><a href="index.html#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="index.html#"><i class="fa-brands fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-working">
                    <img src="{% static 'assets/img/team-2.jpg' %}" alt="team">
                    <svg width="188" height="188" viewBox="0 0 673 673" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.82698 416.603C-19.0352 298.701 18.5108 173.372 107.497 90.7633L110.607 96.5197C24.3117 177.199 -12.311 298.935 15.0502 413.781L9.82698 416.603ZM89.893 565.433C172.674 654.828 298.511 692.463 416.766 663.224L414.077 658.245C298.613 686.363 175.954 649.666 94.9055 562.725L89.893 565.433ZM656.842 259.141C685.039 374.21 648.825 496.492 562.625 577.656L565.413 582.817C654.501 499.935 691.9 374.187 662.536 256.065L656.842 259.141ZM581.945 107.518C499.236 18.8371 373.997 -18.4724 256.228 10.5134L259.436 16.4515C373.888 -10.991 495.248 25.1518 576.04 110.708L581.945 107.518Z" fill="#000"/>
                    </svg>
                    <span>Veterinary Assistant</span>
                    <a href="team-details.html"><h4>Willimes Domson</h4></a>
                    <ul class="social-icon">
                        <li><a href="index.html#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="index.html#"><i class="fa-brands fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-working mb-0">
                    <img src="{% static 'assets/img/team-3.jpg' %}" alt="team">
                    <svg width="188" height="188" viewBox="0 0 673 673" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.82698 416.603C-19.0352 298.701 18.5108 173.372 107.497 90.7633L110.607 96.5197C24.3117 177.199 -12.311 298.935 15.0502 413.781L9.82698 416.603ZM89.893 565.433C172.674 654.828 298.511 692.463 416.766 663.224L414.077 658.245C298.613 686.363 175.954 649.666 94.9055 562.725L89.893 565.433ZM656.842 259.141C685.039 374.21 648.825 496.492 562.625 577.656L565.413 582.817C654.501 499.935 691.9 374.187 662.536 256.065L656.842 259.141ZM581.945 107.518C499.236 18.8371 373.997 -18.4724 256.228 10.5134L259.436 16.4515C373.888 -10.991 495.248 25.1518 576.04 110.708L581.945 107.518Z" fill="#000"/>
                    </svg>
                    <span>Veterinary Assistant</span>
                    <a href="team-details.html"><h4>Thomas Walkar</h4></a>
                    <ul class="social-icon">
                        <li><a href="index.html#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="index.html#"><i class="fa-brands fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-client gap" style="background-image: url('assets/img/client-b.jpg')">
    <div class="container">
        <div class="heading two">
            <h2>What Our Client’s Say</h2>
        </div>
        <div class="client-slider owl-carousel owl-theme">
            <div class="item" >
                <div class="client">
                    <img src="{% static 'assets/img/client.png' %}" alt="client">
                    <div class="client-text">
                        <ul class="star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>"I can't express how grateful I am to this pet care website for helping me through the loss of my beloved cat. The grief support section provided me with resources and articles that helped me cope during a difficult time. It's clear that the people behind this site truly care about pets and their owners. Thank you for being there when I needed it the most."</p>
                        <h4>Qlark Domous</h4>
                        <span>Health Advisor</span>
                        <i class="quote">
                            <img src="{% static 'assets/img/quote.png' %}" alt="quote">
                        </i>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="client">
                    <img src="{% static 'assets/img/client.png' %}" alt="client">
                    <div class="client-text">
                        <ul class="star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>"Overall, a very informative website for pet owners. The grooming tips are spot on, and I appreciate the product recommendations. The only reason I'm not giving it five stars is that I wish they had a mobile app. It would be more convenient to access this valuable information on the go."</p>
                        <h4>Willimes Marko</h4>
                        <span>Health Advisor</span>
                        <i class="quote">
                            <img src="{% static 'assets/img/quote.png' %}" alt="quote">
                        </i>
                    </div>
                </div>
            </div>
            <div class="item" >
                <div class="client">
                    <img src="{% static 'assets/img/client.png' %}" alt="client">
                    <div class="client-text">
                        <ul class="star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>"This pet care website is a great resource for a newbie like me. I recently adopted a kitten, and I had no clue about cat care. The beginner's guides are super helpful, and I've learned so much about feeding, grooming, and playtime. The only reason I'm not giving it a full 5 stars is that I wish they had more video tutorials. Visual demonstrations would be a huge plus!"</p>
                        <h4>Qlark Domous</h4>
                        <span>Health Advisor</span>
                        <i class="quote">
                            <img src="{% static 'assets/img/quote.png' %}" alt="quote">
                        </i>
                    </div>
                </div>
            </div>
        </div>
        <div class="rated">
            <ul class="star">
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
            </ul>
            <h4>Rated 4.5 Out of 5.0</h4>
        </div>
    </div>
</section> 
<section class="gap no-bottom">
    <div class="container">
        <div class="heading">
            <img src="{% static 'assets/img/heading-img.png' %}" alt="heading-img">
            <h6>Blog and News</h6>
            <h2>Recent Articles</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="blog-style">
                    <figure>
                        <img src="{% static 'assets/img/blog-1.jpg' %}" alt="img">
                    </figure>
                    <a href="index.html#"><h6>Animal Care</h6></a>
                    <div class="blog-style-text">
                        <h5>23<span>May,2023</span></h5>
                        <div>
                            <a href="blog-details.html"><h3>The Best High Fiber Dog Food</h3></a>
                            <p>A balanced diet is crucial for your pet's overall well-being, and fiber plays a significant role in maintaining their digestive health. High-fiber foods can aid in digestion, regulate blood sugar levels, and even help with weight management. In this article, we'll explore some of the best high-fiber foods for your pets and why they're beneficial.</p>
                            <div class="d-flex align-items-center">
                                <img src="{% static 'assets/img/man.jpg' %}" alt="man">
                                <h4>Willimes Domson</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-style">
                    <figure>
                        <img src="{% static 'assets/img/blog-2.jpg' %}" alt="img">
                    </figure>
                    <a href="index.html#"><h6>Animal Care</h6></a>
                    <div class="blog-style-text">
                        <h5>23<span>May,2023</span></h5>
                        <div>
                            <a href="blog-details.html"><h3>The Basic Necessities of Proper Pet Care</h3></a>
                            <p>Caring for a pet is a fulfilling and rewarding experience, but it also comes with significant responsibilities. To ensure the health, happiness, and well-being of your furry or feathered companion, it's crucial to provide them with the basics of proper pet care. In this article, we'll outline the fundamental necessities every pet owner should be aware of.</p>
                            <div class="d-flex align-items-center">
                                <img src="{% static 'assets/img/man.jpg' %}" alt="man">
                                <h4>Willimes Domson</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-style mb-0">
                    <figure>
                        <img src="{% static 'assets/img/blog-3.jpg' %}" alt="img">
                    </figure>
                    <a href="index.html#"><h6>Animal Care</h6></a>
                    <div class="blog-style-text">
                        <h5>23<span>May,2023</span></h5>
                        <div>
                            <a href="blog-details.html"><h3>Pets need care and attention</h3></a>
                            <p>When it comes to our pets' well-being, proper nutrition plays a pivotal role. High-fiber foods are not only essential for maintaining a healthy digestive system but can also aid in weight management and prevent certain health issues. In this article, we'll explore some of the best high-fiber foods for pets, helping you make informed choices for your furry companions..</p>
                            <div class="d-flex align-items-center">
                                <img src="{% static 'assets/img/man.jpg' %}" alt="man">
                                <h4>Willimes Domson</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
<div id="chatbot-container" style="padding-right: 30px; ">
    <button id="chatbot-button" style="position: fixed; bottom: 20px; right: 80px; background-color: #ff0000; color: rgb(255, 255, 255); border: none; border-radius: 50%; width: 60px; height: 60px;font-size: 24px; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); cursor: pointer; transition: background-color 0.3s;top: 533px;">
        💬
    </button>

    <!-- Chatbot Widget (Hidden by Default) -->
    <div id="chatbot-widget" style="display: none;padding-right: 30px;  position: fixed; bottom: 80px; right: 20px; width: 350px; background-color: #ff0000; border-radius: 10px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); overflow: hidden; font-family: Arial, sans-serif;">
        <div style="background-color: #ff0000; color: white; padding: 12px; font-weight: bold; text-align: center; font-size: 16px; border-top-left-radius: 10px; border-top-right-radius: 10px;">Chat with PetSy</div>
        <div id="chat-box" style="height: 250px; padding: 10px; overflow-y: auto; background-color: #f8f8f8; border-bottom: 1px solid #ddd;">
        </div>
        <div style="display: flex; padding: 10px; background-color: #fff; border-top: 1px solid #ddd;">
            <input type="text" id="user-input" placeholder="Type your message..." style="flex: 1; padding: 10px; border: 1px solid #ddd; border-radius: 5px; margin-right: 10px; font-size: 14px; transition: border-color 0.3s;">
            <button onclick="sendMessage()" style="background-color: #ff0000; color: rgb(255, 255, 255); padding: 10px 15px; border: none; border-radius: 5px; cursor: pointer; font-size: 14px; transition: background-color 0.3s, transform 0.2s;">Send</button>
        </div>
    </div>
</div>

<style>
    /* Additional styles for better aesthetics */
    #chat-box .message {
        padding: 8px 12px;
        border-radius: 5px;
        margin-bottom: 5px;
        max-width: 75%;
        word-wrap: break-word;
        font-size: 14px;
    }
    .user-message {
        background-color: #021f24;
        color: white;
        margin-left: auto; /* Align user messages to the right */
    }
    .bot-message {
        background-color: #e1e1e1;
        color: black;
    }
    #user-input:focus {
        border-color: #007bff;
        outline: none;
    }
    button:hover {
        background-color: #0056b3; /* Darker blue on hover */
        transform: scale(1.05);
    }
</style>

<script>
    // Toggle chatbot visibility
    document.getElementById('chatbot-button').addEventListener('click', function() {
        const chatbotWidget = document.getElementById('chatbot-widget');
        chatbotWidget.style.display = chatbotWidget.style.display === 'none' ? 'block' : 'none';
    });

    function getCSRFToken() {
        const cookieValue = document.cookie.split('; ').find(row => row.startsWith('csrftoken=')).split('=')[1];
        return cookieValue;
    }

    function appendMessage(message, className) {
        const chatBox = document.getElementById('chat-box');
        const messageDiv = document.createElement('div');
        messageDiv.className = 'message ' + className;
        messageDiv.textContent = message;
        chatBox.appendChild(messageDiv);
        chatBox.scrollTop = chatBox.scrollHeight;
    }

    function sendMessage() {
        const userInput = document.getElementById('user-input');
        const message = userInput.value.trim();
        if (message === '') return;

        appendMessage(message, 'user-message');
        userInput.value = '';

        fetch('{% url "chat" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': getCSRFToken(),
            },
            body: new URLSearchParams({
                'message': message
            })
        })
        .then(response => response.json())
        .then(data => {
            appendMessage(data.reply, 'bot-message');
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>
{% endblock %}
                       